# Global Crime Analysis
## Cyber-Dependent Crimes
### The Global Detectives (Angelica, Juan, Taryn)

In [47]:
import pandas as pd
import numpy as np
import requests as rs
import matplotlib.pyplot as plt
import seaborn as sns
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup# as soup
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [55]:
# Initialize Chrome webdriver
driver = webdriver.Chrome() 
base_url = "https://ocindex.net/rankings/cyber-dependent_crimes?y=2023&f=rankings&view=List&group=Country&order=DESC&criminality-range=0%2C10&state-range=0%2C10"
driver.get(base_url)

# Initialize dictionary to store data
data = []

# Get the current page HTML
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

# Table Data
table = soup.find('ranking-table')

# Data Column and Rows
data_columns = soup.find_all('a')

for column in data_columns:
    data_rows = soup.find_all('div', {'class': 'table-row'})
    data.append(data_rows)

# Close the webdriver
driver.quit()

In [56]:
df = pd.DataFrame(data)
df

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[740 rows x 0 columns]